<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div style="text-align: center">
    <h1>{{message}}</h1>
</div>

<div class="container">
    <div class="row">
        <div>
            <form>
                <fieldset>
                    <legend class="text-center">Valid information is required to initiate Bill. <span class="req"><small>
                                required *</small></span></legend>

                                <div class="form-group">
                                    <label for="Customer MobileNumber"><span class="req">* </span> Select N Search Mobile : </label>
                                    <div class="basic-container">
                                       
                                        <mat-form-field >
                                                     <mat-select [formControl]="customerCtrl"  (selectionChange)="onChangeValue($event)" placeholder="Customer Mobile Number" #singleSelect>
                                                       <mat-option>requiredrequired
                                                         <ngx-mat-select-search [formControl]="customerFilterCtrl"  ></ngx-mat-select-search>
                                                       </mat-option>
                                                 
                                                       <mat-option *ngFor="let customerMobileWrapper of filteredCustomers | async"   [value]="customerMobileWrapper">
                                                         {{customerMobileWrapper.mobile}}
                                                       </mat-option>
                                                     </mat-select>
                                                   </mat-form-field>
                                                
                                    
                                          </div>
                                </div>
                                <div class="form-group">

                                    <label for="CustomerName"><span class="req">* </span> Selected Customer: </label>
                                    <input class="form-control" type="text" [(ngModel)]="customer.name" value="{{customerCtrl.value?.name}}"   name="customernumber" id="txt"
                                    placeholder="Customer Name" required  />
                    </div> 
                    <div class="form-group">
                        <label for="Bill Amopunt"><span class="req">* </span> Bill Amount: </label>
                        <input class="form-control" type="number" [(ngModel)]="billing.billAmount" name="BillingAmount" id="BillingAmount"
                             maxlength="28" placeholder="Billing Amount..." required />
                    </div>

                    <div class="form-group">
                        <label for="remarks"><span class="req">* </span> Remarks: </label>
                        <input class="form-control" type="text" [(ngModel)]="billing.descriptionRemarks" name="remarks" id="remarks" 
                            placeholder="Remarks" required />
                        <div id="errFirst"></div>
                    </div>

                  
                    
                          
                      <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Initiate" (click)="makeBill()">
                    </div>
                </fieldset>
            </form><!-- ends register form -->
            <!-- second for to fiter customer-->

         
        </div><!-- ends col-6 -->

    </div>
</div>